@import "partials/setup";
@import "partials/mixins";
@import "partials/flickity";

body {
	background: black;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;

}


/*---------------header---------------*/

header {
	min-height: 98vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(../images/background2.jpg);
}

.wrapper {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
	position: relative;
	padding: 30px 0 50px;
}


.wrapper p {
	text-align: center;
	font-size: 25px;
	margin: 10px;
	letter-spacing: 1px;
}

p.small {
	font-size: 18px;
}

h1 {
	
	text-align: center;
	text-transform: uppercase;
	font-size: 65px;
	animation: floating ease 20s infinite;
	font-weight: bold;
	color: #00FFFF;
	margin: 20px;
}

/*-----header__selection*/

.planets {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 ;
	transform: translateZ(0);
	flex-wrap: wrap;

	@include bp(tablet) {
		flex-direction: column;
	}
	
}

.planets__submit {
	text-align: center;
	padding-top: 10px;
}

img.rotate {
	transform: rotate(15deg);
}

input[type=radio] {
	visibility: hidden;
}

label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

_:-moz-tree-row(hover), label {
    display: inline-block;
}   

label:hover {
	cursor: pointer;
}

label img {
	padding: 0 10px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	transition:  all 1s ease;
	border-radius: 50%;
	min-height: 28px;
}

input[type="radio"]:checked + label img {
	border-right: 2px solid #D40070;
	border-left: 2px solid #D40070;
	border-radius: 50%;
	transform: rotate(180deg);
}

input[type="radio"]:checked ~ .label__title {
	opacity: 1;
}
input[type="radio"]:checked ~ .label__title:before {
	opacity: 0;
} 

.submit {
	transition: all .5s ease;
}

.submit:hover  {
	box-shadow: 0 0 15px 3px rgba(0, 255, 255, .8);
}
input[type=submit] {
	background-color: transparent;
	border: 1px solid white;
	text-transform: uppercase;
	color: white;
	padding: 10px 40px;
	text-align: center;
	letter-spacing: 3px;
	border: 1px solid #00FFFF;
	border-radius: 6px;
	@include bp(mobile) {
		padding: 10px;
	}
}

div.planets__selection {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	@include bp(tablet) {
		flex-direction: row;
		margin: 20px 0;
	}
	@include bp(mobile) {
		flex-direction: column;
		margin: 0;
	}
}

.label__title {
	opacity: 0;
	transition: all 1s ease;
	margin-top: 20px;
	position: relative;
	text-align: center;
	
	@include bp(tablet) {
		margin-top: 0;
		margin-left: 10px;
	}
	@include bp(mobile) {
		margin-left: 0px;
		margin-top: 10px;
	}
}

.label__image:hover + label {
	opacity: 1;
}

.label__title:before {
	content:"";
	width: 40px;
	height: 2px;
	background-color: #D40070;
	display: block;
	position: absolute;
	transform: rotate(90deg);
	top: -50px;
	opacity: 0%;
	transition: top .6s ease, opacity .6s ease;
	@include bp(tablet) {
		display: none;
	}

}
.label__image:hover + label:before  {
	top:-100px;
	opacity: 1;
}

.label__image.jupiter:hover + label:before {
	top: -200px;
	opacity: 1;
}

.label__image.saturn:hover + label:before {
	top: -170px;
	opacity: 1;
}







/*--end Header--*/
/*-------------Main-----------------*/
main {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.3)),url(../images/space.jpg);
	background-size: 100%;
	min-height: 98vh;
	background-repeat: no-repeat;
	position: relative;
	@include bp(desktop) {
		background-size: cover;	
	}
	@include bp(tablet) {
		background-image: url(../images/background1.jpg);
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
	}
}

h2 {
	font-family:  'Gloria Hallelujah', cursive;
	text-transform: uppercase;
	text-align: center;
	font-size: 80px;
	color: #D40070;
	align-self: center;
	margin: 25px 10px 0;
	@include bp(desktop) {
		position: relative;
		z-index: 1;
	}
	@include bp(mobile) {
		font-size: 50px;
	}
}

h3 {
	color: #00FFFF;
	font-size: 40px;
	margin-top: 0;
	width: 50px;
	border-bottom: 3px solid #00FFFF;
	transform: rotate(8deg);
	@include bp(mobile) {
		display: inline-block;
	}
}

h3:after {
	content:'';
	width: 50px;
	border-bottom: 3px solid #00FFFF;
	transform: rotate(8deg);
	display: block;
}


main.hidden {
	display: none;

}

.main__wrapper {
	display: flex;
	flex-direction: column;
	width: 55%;
	justify-content: center;
	margin-left: auto;
	padding-right: 30px;
	@include bp(desktop) {
		width: 75%;
	}
	@include bp(tablet) {
		width: 100%;
		padding: 0 25px;
	}
	@include bp(mobile) {
		padding: 0 10px;
	}
}

.contentContainer {
	display: flex;
	justify-content: space-between;
	padding: 50px 25px;
	@include bp(tablet) {
		padding: 50px 10px;
	}
	@include bp(mobile) {
		flex-direction: column;
		padding: 50px 0;
	}
}

.contentContainer p {
	font-weight: bold;
	@include bp(desktop) {
		margin-top: 75px;
	}
	@include bp(tablet) {
		margin-top: 35px;
	}
}

.asteroids, .comets {
	display: inline-block;
	width: 45%;
	@include bp(mobile) {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
}

.content ul {
	list-style: none;
	margin: 0 0 10px;
	padding: 5px 30px;
	
}

.content ul:last-child li {
	text-align: center;
}

.content {
	font-size: 25px;
	letter-spacing: 1px;
	height: 150px;
	width: 100%;
	@include bp(mobile) {
		font-size: 16px;
	}
}


.rock {
	position: absolute;
	top: 15%;
	left: 6%;
	transform: scale(.9);
	animation: floating linear 12s infinite;
	@include bp(desktop) {
		left: 0%;
	}
	@include bp(tablet) {
		display: none;
	}
	
}

@keyframes floating {
	0% {
		transform: rotateY(-10deg) rotateZ(-2deg) scale(.95);	
	}
	25% {
		transform: rotateY(5deg) rotateZ(-6deg);	
	}	
	50% {
		transform: rotateY(15deg) rotateZ(-10deg) scale(1);	
	}
	75% {
		transform: rotateY(5deg) rotateZ(-6deg)scale(1);	
	}		
	100% {
		transform: rotateY(-10deg) rotateZ(-2deg) scale(.95);
	}			
}

/*--------end MAIN-----*/
/*--------------footer-----------*/
footer p{
	font-family: sans-serif;
	font-size: 10px;
	color: grey;
	text-align: center;
	margin: 5px;
}

.fa-rocket{
	color: lightgrey;
	padding: 0 10px;
}

footer a {
	text-decoration: none;
	color: lightgrey;
	font-weight: bold;
}

/*------end FOOTER------*/